.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: black;
}

.side-name {
  font-family: Krub;
  font-size: 45px;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: -5px;
  border: 1px solid white;
  padding: -10px;
  margin: 12%;
  text-align: center;
}

.side-link {
  font-family: "Trirong";
  margin-top: 20px;
  margin-left: 10px;
}

#side-link-text:hover {
  background-color: rgb(39, 133, 133);
  color: black;
}

.main {
  margin-left: 170px;
  padding: 0px 10px;
}

#main-image {
  -webkit-filter: brightness(70%);
    filter:brightness(70%);
}

.container {
  position: relative;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 35px;
  font-weight: bolder;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68.5px;
  font-weight: bolder;
  color: white;
  font-family: "Rubik Mono One";
}

.card-image {
  height: 30%;
  width: 30%;
}

.resume-text {
  font-weight: bold;
}

.card-action:hover {
  background-color: black;
}

.technologies {
  height: 170px;
  width: 350px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.modal {
  width: 400px;
  background-color: black;
}

.modal-close {
  font-family: "Krub";
  background-color: black;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8 {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  border-radius: 5px;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover,
.project7:hover,
.project8:hover {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.project1:active,
.project2:active,
.project3:active,
.project4:active,
.project5:active,
.project6:active,
.project7:active,
.project8:active {
  background-color: rgb(63, 132, 221);
  box-shadow: 0 5px #666;
  transform: translate(-10px, 20px);
  margin: 10px;
  margin-bottom: 20px;
}

.page-footer {
  background: rgba(0, 0, 0);
  border-width: 20px;
  border-color: white;
}

.contact-me {
  margin-top: 10px;
}

.links-div {
  margin-top: 9px;
}

.links:hover {
  text-decoration: underline;
}

@media screen and (max-width: 1200px) {
  .sidenav {
    width: 170px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: black;
  }
  .side-name {
    width: 130px;
  }
  .side-link {
    margin-left: 10px;
  }
  .main {
    margin-left: 160px;
  }
  .centered {
    font-size: 60px;
  }
}
@media screen and (max-width: 1040px) {
  .sidenav {
    width: 140px;
    height: 100%;
  }
  .side-name {
    width: 110px;
    font-size: 30px;
  }
  .side-link {
    margin-top: 10px;
    margin-left: -10px;
  }
  .main {
    margin-left: 130px;
  }
  .centered {
    font-size: 50px;
  }
}
@media screen and (max-width: 992px) {
  .sidenav {
    width: 70px;
    height: 100%;
  }
  .side-name {
    width: 40px;
    font-size: 20px;
    display: block;
  }
  .side-link {
    transform: rotate(-90deg);
  }
  .main {
    margin-left: 60px;
  }
  .centered {
    font-size: 45px;
  }
}
@media screen and (max-width: 785px) {
  .centered {
    font-size: 35px;
  }
}
@media screen and (max-width: 600px) {
  .sidenav {
    width: 80px;
    height: 100%;
  }
  .side-name {
    width: 210px;
    font-size: 30px;
    border: 0.5px solid white;
  }
  .centered {
    font-size: 50px;
  }
  .main {
    margin-left: 50px;
  }
}
