.sidenav {
  height: 100%;
  width: 180px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background-color: black;
  transform: translateX(0%) !important;
}

.side-name {
  font-family: Krub;
  font-size: 45px;
  color: white;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: -5px;
  border: 1px solid white;
  padding: -10px;
  margin: 12%;
  text-align: center;
}

.side-link {
  font-family: "Trirong";
  margin-top: -7px;
  margin-left: 0px;
}

#side-link-text:hover {
  background-color: rgb(39, 133, 133);
  color: black;
}

.main {
  margin-left: 170px;
  padding: 0px 10px;
  width: 90%;
}

#main-image {
  height: 720px;
  width: 100%;
  -webkit-filter: brightness(70%);
  filter: brightness(70%);
}

.container {
  position: relative;
  text-align: center;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  writing-mode: vertical-rl;
  text-orientation: upright;
  font-size: 35px;
  font-weight: bolder;
  color: white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 68.5px;
  font-weight: bolder;
  color: white;
  font-family: "Rubik Mono One";
}

.card-image {
  height: 30%;
  width: 30%;
}

.resume-text {
  font-weight: bold;
}

.card-action:hover {
  background-color: black;
}

.svcsBG {
  background-color: rgb(39, 133, 133);
  margin-top: 40px;
  padding: 2px 0px 70px;
}

#sA,
#projects {
  margin-top: 100px;
}

.technologies,
.sA {
  height: 100%;
  width: 315px;
  margin-top: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

hr {
  border: 1.5px solid rgb(39, 133, 133);
}

.modal {
  width: 400px;
  background-color: black;
}

.modal-close {
  font-family: "Krub";
  background-color: black;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6,
.project7,
.project8,
.project9 {
  width: 100%;
  height: 250px;
  margin-top: 20px;
  margin-bottom: 10px;
  float: left;
  border-radius: 5px;
}

.project1:hover,
.project2:hover,
.project3:hover,
.project4:hover,
.project5:hover,
.project6:hover,
.project7:hover,
.project8:hover,
.project9:hover {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.project1:active,
.project2:active,
.project3:active,
.project4:active,
.project5:active,
.project6:active,
.project7:active,
.project8:active,
.project9:active {
  background-color: rgb(63, 132, 221);
  box-shadow: 0 5px #666;
  transform: translate(-10px, 20px);
  margin: 10px;
  margin-bottom: 20px;
}

.page-footer {
  background: rgba(0, 0, 0);
  border-width: 20px;
  border-color: white;
}

.contact-me {
  margin-top: 10px;
}

.links-div {
  margin-top: 9px;
}

.links:hover {
  text-decoration: underline;
}
@media screen and (max-width: 1400px) {
  .sidenav {
    width: 170px;
  }
  .centered {
    font-size: 56px;
  }
  .main {
    margin-left: 160px;
  }
  #main-image {
    height: 690px;
  }
}
@media screen and (max-width: 1240px) {
  .sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: black;
  }
  .side-name {
    width: 130px;
  }
  .side-link {
    margin-left: 10px;
  }
  .centered {
    font-size: 50px;
  }
  #main-image {
    height: 700px;
  }
}
@media screen and (max-width: 1105px) {
  .sidenav {
    width: 140px;
  }
  .side-name {
    width: 110px;
    font-size: 30px;
  }
  .side-link {
    margin-top: 10px;
    margin-left: -5px;
    text-align: center;
  }
  .main {
    margin-left: 130px;
  }
  .centered {
    font-size: 50px;
  }
  #main-image {
    height: 690px;
  }
}
@media screen and (max-width: 992px) {
  .sidenav {
    width: 70px;
    height: 100%;
  }
  .side-name {
    width: 55px;
    font-size: 17px;
    display: block;
  }
  .side-link {
    transform: rotate(-90deg);
    margin-left: -50px;
    margin-top: 28px;
  }
  .home-link,
  .about-link,
  .tech-link,
  .proj-link {
    margin-right: -20px;
  }
  .centered {
    font-size: 45px;
  }
  .main {
    margin-left: 60px;
  }
  #main-image {
    height: 670px;
  }
}
@media screen and (max-width: 885px) {
  .centered {
    font-size: 45px;
  }
  #main-image {
    height: 670px;
  }
}
@media screen and (max-width: 663px) {
  .sidenav {
    width: 60px;
  }
  .side-name {
    width: 46px;
    font-size: 13px;
    display: block;
  }
  .centered {
    font-size: 40px;
  }
  .main {
    margin-left: 50px;
  }
  #main-image {
    height: 680px;
  }
}
@media screen and (max-width: 553px) {
  .centered {
    margin-left: 25px;
  }
  #main-image {
    height: 720px;
  }
}
